@model  ScriptListViewModel
@{
    WebGrid myGrid = new WebGrid(Model.List);
}

<script type="text/javascript">
    $(function () {
        $('tbody tr').hover(function () {
            $(this).toggleClass('hovercs');
        }).on('click', function () {
            $('tbody tr').not($(this)).removeClass('clickable');
            $(this).addClass('clickable');
        });
    });
</script>

<div class="page-header RowTopMargin">
    <h3 class="title-bluelight">Lista de Scripts</h3>
</div>
@if (Model.List.Count > 0)
{
    <div Class="row row-eq-height RowTopMargin">
        <div Class="col-md-12">
            @myGrid.GetHtml(
                tableStyle: "webGridTable",
                mode: WebGridPagerModes.All,
                columns: new[] {
                myGrid.Column("Name"),
                myGrid.Column("Description"),
                myGrid.Column("Actions", "Actions", format: @<text><span>@item.ActionAggregate</span></text>),
                myGrid.Column("Delete", "Delete", format: @<text><a href="/Script/Delete?Id=@item.Id">Delete</a></text>)
})
        </div>
    </div>
}
<div class="RowTopMargin RowBottomMargin">
    <input type="button" class="btn btn-info pull-right btn-lg" value="Nuevo Script" onclick="window.location.href='@Url.Action("New", "Script", null, Request.Url.Scheme).ToString()';" />
</div>